            </div>
        </div>
    </div>

    <footer id="footer" class="pulsed opacity-80">
    <nav id="rooms">
        <ul class="map-thing">
            <li class="go-button">
                <a class="awesome blue large" href="{LEFT_LINK}">&laquo; Go left</a>
            </li>
            <!-- BEGIN -->
            <li>
            <a class="image_link" href="{ROOM_URL}"><img src="{IMAGE_URL}" /></a>
            <a class="text_link awesome black" href="{ROOM_URL}">{ROOM_NAME}</a>
            </li>
            <!-- END -->
    </nav>
    </footer>

    </body>
</html>
