            </div>
        </div>
    </div>

    <footer id="footer" class="pulsed opacity-80">
    <nav id="rooms">
        <ul class="map-thing">
            <li class="go-button">
                <a class="awesome blue large" href="$left_url">&laquo; Go left</a>
            </li>
            <!-- BEGIN -->
            $footer_rows
            <!-- END -->
            <li class="go-button">
                <a class="awesome blue large" href="$right_url">Go right &raquo;</a>
                <a class="awesome blue large" href="index.php">Logout</a>
            </li>
        </ul>
    </nav>
    </footer>

    </body>
</html>
