<!doctype html>
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
         Remove this if you use the .htaccess -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>SPACE TRADERS: $page_title</title><!--{PAGE_TITLE} will of course be parsed by the python script generating the page--> 
    <meta name="description" content="Space Traders! An exciting web based commodity trading game.">
    <meta name="author" content="Clarence, Chantal, Eleyine, Harry, and Wendy">

    <!-- Mobile viewport optimized: j.mp/bplateviewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="includes/reset.css" type="text/css" />
    <link rel="stylesheet" href="includes/style.css" type="text/css" />
    <script src="includes/modernizr-1.7.min.js"></script>

</head>

<!-- body IDs are used for specific background images -->
<body class="room" id="$page_name">
    <div id="wrap">
          <header id="header" class="pulsed">
          <h1><a href="index.py"><img src="images/title.png" alt="Spacetraders" title="Spacetraders" /></a></h1>
          <nav id="menu">
            <ul>
                <li><a href="index.py">Home</a></li>

                <li><a href="login.py">Login</a></li>
                <li><a href="credits.py" target="_blank"><!-- not exactly good practice but WHATEVER don't judge me -->Credits</a></li>
            </ul>
            <div id="clock">
              <applet code="dclock.class" Width=300 Height=30>
                <param name=bgcolor value="000000">
                <param name=seconds value="yes">
                <param name=24hour value="yes">

                <param name=background value="panel.gif">
                <param name=digits value="bit.gif">
              </applet>
            </div>
          </nav>
        </header>
        <div id="content">
        <div id="page" class="pulsed opacity-80">
        <div class="page-header">$page_title</div>
        <div class="page-body">
            $body
        </div>

        </div>
        </div>
    </div>
    </body>

</html>
