<strong>Harry Brundage - Arrakis</strong><br />
<p>Dune. Sand and gold mixed all in. Thanks for stopping by!</p>
<br />
<strong>Clarence Leung - Shatner Space Station</strong><br />
<p>Shatner Space Station: Galactic trading center named after the legendary McGillian who has <a href="http://www.youtube.com/watch?v=HU2ftCitvyQ">climbed the moutain</a>.</p>
<br />
<strong>Wanwan Liu - The moon</strong><br />
<p>Despite its harsh barrenness and rather dull (i.e. oxygen-free) atmosphere, the moon has proven to be a popular spot for miners and traders trying to strike it rich in the green cheese business. Many intrepid young adventurers are pulled in by the lure of this growing, if slightly off-kilter, market, only to soon find themselves in a state of anoxia. Don't forget your helmet.<br /><a href="http://dellsystem.github.com">http://dellsystem.github.com</a> </p>
<br />
<strong>Chantal Suder - The Orion nebula</strong><br />
<p>The Orion Nebula: this room is doubtlessly the most purple place in the universe. It gives you the opportunity to trade a world of purpleness. Centrally located in the universe, it is the trader's stop on the way to more dangerous galaxies.</p>
<br />
<strong>Eleyine Zarour - Memento Mori</strong><br />
<p>The dying planet Memento Mori is a fast-forward application of Darwin's theory of evolution. Threatened by the ubiquitous spectrum of Death, every single living being on this planet has developed a keen sense of survival. Besides being interesting research-subjects, such specimens are bound to yield innovative trade items... </p>
