<div class="page-header">Login success</div>
<div class="page-body"><p class="text-center">You may begin, space traveller. Good luck on your journey.</p>
<div class="form">
    <form method="post" action="show.py" class="login">
    <input type="hidden" name="points" value="100" /> 
    <input type="hidden" name="reset" value="all" />
    <!-- so that each new login resets each planet's inventory -->
    <p class="submit">
    <input type="submit" name="submit" value="Start!" class="awesome blue large" />
    </p>
    </form>
</div>
</div> 
 
        </div> 
        </div> 
    </div> 
    </body> 
 
</html> 
<!-- i don't care <- you're a bad person <- no u -->
