<tr>
    <td>
        $name
        <input type="hidden" id="price_$num" name="price_$num" value="$price">
        <input type="hidden" id="com_name_$num" name="com_name_$num" value="$name">
    </td>
    <td>$price SPCRD</td>
    <td>$available_quantity</td>
    <td>$quantity</td>
    <td><input id="qty_$num" name="qty_$num" value="0"></td>
    <td>
      <select id="action_$num" name="action_$num">
          <option value="buy">Buy</option>
          <option value="sell">Sell</option>
       </select>
    </td>
</tr>

